<div class="text-center">
  <h1 class="title">Questions#answer</h1>
  <h2><%= @questions %></h2>
  <p> - You</p>
  <h2><%= @answers %></h2>
  <p> - Your coach</p>
  <h2 class="btn btn-secondary"><%= link_to "Ask another question", "/questions/ask" %></h2>
</div>
