<div class="text-center">
<h1 class="title">Questions#ask</h1>

<form class="" action="/questions/answer" method="get">
  <input type="text" name="question" placeholder="What question do you want answered?">
  <input type="submit" class="btn btn-primary">
</form>

</div>
