// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .title{
  color:green;
  font-size: 60px !important
}

.center{
  margin: 5px;
  text-align: center;
}

h2{
  text-align: center;
  background-color: yellow;
  width: 500px;
}
